@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body{
    margin: 0%;
    background: #F2F2F2;
    padding-top: 2%;
}
.main{
    width: 90%;
    min-height: 90vh;
    background: #151D1D;
    margin: auto;
    border-radius: 50px;
    box-shadow: grey 2px 2px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heading{
    color: #05E7B6;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: -5%;
    
}

.restartButton{
    background: #05E7B6;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 15vh;
    height: 7vh;
    font-size: 15px;
    border-radius: 50px;
    border-color: none;
    border-style: none;
    cursor: pointer;
}
.exitButton{
    background: #FC7330;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 15vh;
    height: 7vh;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 50px;
    border-color: none;
    border-style: none;
    cursor: pointer;
}
.scores{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.compScore{
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-left: 5%;

}
.compScoreValue{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.userScore{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-right: 5%;
}
.userScoreValue{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.gameValue{
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: #05E7B6;
    width: 40vh;
    height: 12vh;
    border-radius: 50px;
    text-align: center;
    padding-top: 13%;
}
.responses{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.line{
    position: absolute;
    margin-top: 30vh;
}

.gameButtons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left:48%;
    margin-top: 2%;
}
.game{
    background: #05E7B6;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 15vh;
    height: 7vh;
    border-radius: 50px;
    border-color: none;
    border-style: none;
    cursor: pointer;
    margin-left: 20px;
}

@media screen and (max-width:850px){
    .heading{
        font-size: 20px;
    }
    .restartButton{
        width: 12vh;
        height: 6vh;
        font-size: 12px;
    }
    .exitButton{
        width: 12vh;
        height: 6vh;
        font-size: 12px;
    }
    .compScore{
        font-size: 15px;
    }
    .compScoreValue{
        font-size: 18px;
    }
    
    .userScore{
        font-size: 15px;
    }
    .userScoreValue{
        font-size: 18px;
    }
    .responses{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .gameValue{
        width: 35vh;
        height: 10vh;
        padding-top: 13%;
        margin-top: -1%;
    }
    .gameButtons{
        display: flex;
        flex-direction: row;
        margin-left: -5%;
    }
    .game{
        
        width: 15vh;
        height: 7vh;
        border-radius: 50px;
        border-color: none;
        border-style: none;
        cursor: pointer;
        margin-left: 10px;
    }
    .line{
        display: none;
    }
    
}