@import url('https://fonts.googleapis.com/css2?family=Montserrat,sans-serif:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    min-height: 92vh;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-section{
    background: dodgerblue;
    width: 80%;
    margin:auto;
    min-height: 80vh;
    display: flex;
    box-shadow: 0px 1px 10px;
    flex-direction: column;
}
.resume-heading{
    justify-self: center;
    align-self: center;
    margin: 2%;
}
.my-resume{
    color: white;
    font-family: montserrat, sans-serif;
    font-size: 30px;
}
.resume-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}
.resume-pdf{
    width: 60%;
    min-height: 60vh;
    border: none;
    border-radius: 20px;

}
.download{
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    font-family: montserrat, sans-serif;
    background: white;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
}
@media screen and (max-width: 1024px){
    .body-section{
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resume-section{
        flex-direction: column;
        width: 80%;
        
    }
    .resume-pdf{
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
    }
}
